<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>employee_id</th>
				<th>first_name</th>
				<th>job_id</th>
			</tr>
		</thead>
		<tbody>
			<!-- 반복하고자 하는 태그 tr th:each tr내부에서 사용할 변수명 :  --> 
			<tr th:each="empInfo : ${empList} "> 
				<td th:text="${empInfo.employeeId}"/>
				<td th:text="${empInfo.firstName}"/>
				<td th:text="${empInfo.jobId}"/>
			</tr>
		</tbody>
	</table>
</body>
</html>